<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Johnny Alimoot C.">
    <!-- DESCRIPTION OF THE PAGE -->
    <meta name="description" content="Al Shamsi Advertising">
    
    <!-- KEYWORDS OF THE PAGE TO HELP SEARCH ENGINE -->
    <meta name="keywords" content="HTML, CSS, Blue, Rounded, Modern, Nice">

    <!-- OG IMAGE IS THE IMAGE SHOWN WHEN YOUR WEBSITE LINK IS SHARED ON SOCIAL MEDIA -->
    <meta property="og:image" content="art/og-card.png">
    <meta property="og:title" content="Al Shamsi - Advertising">
    <meta name="twitter:card" content="summary_large_image">

    <!-- THE TITLE OF THE PAGE -->
    <title>Al Shamsi | Home</title>

    <link rel="preload" href="icons/bootstrap-icons.css" as="style">
    <link rel="preload" href="css/fontstyle.css" as="style">
    <link rel="preload" href="css/layout.css" as="style">
    <link rel="preload" href="css/animation.css" as="style">
    <link rel="preload" href="css/style.css" as="style">

    <link rel="stylesheet" href="icons/bootstrap-icons.css">
    <link rel="stylesheet" href="css/fontstyle.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="art/favicon.png">
</head>
<body>
    <!-- FADE OUT ANIMATION WHEN LOADED -->
    <span class="fade"></span>
    <main>
        <!-- MAIN HERO BANNER START -->
        <section class="hero-banner">
            <div class="hero-contained">
                <div class="hero-title fc-white">
                    <h1 style="font-size: 52px;"      class="ff-damion">Al Shamsi Advertising </h1>
                    <p class="fs-h4 fw-normal">
                        We offer a diverse range of high-quality printing and branding solutions tailored to meet the needs of businesses across industries.
                    </p>
                    <a href="#about" class="btn-bg2 border-round mt-20">
                        Learn More <i class="bi bi-chevron-compact-right"></i>
                    </a>
                </div>
            </div>
            <div class="hero-socials">
                <a href="#" class="mt-a icon-link" aria-label="Follow us on facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#" class="icon-link mt-10" aria-label="Follow us on instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#" class="icon-link mt-10" aria-label="Follow us on twitter">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="#" class="icon-link mt-10" aria-label="Follow us on youtube">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </section>
        <!-- MAIN HERO BANNER END -->

        <!-- NAVIGATION START -->
        <nav>
            <div class="contained">
                <a href="index.html" class="logo fc-primary ff-damion row flex-alig-center">
                    <span class="fs-h2">&nbsp; Al-Shamsi</span>
                </a>
                <input type="checkbox" name="tablet-mobile-menu" class="tab-mob-menu" aria-label="tablet and mobile menu">
                <div class="navigation-container">
                    <a href="index.html">Home</a>
                    <a href="about.html">About</a>
                    <a href="service.html">Service</a>
                   <!--  <a href="industries.html">Industries</a> -->

                    <a href="Portfolio/Portfolio.html">Portfolio</a>
                   <!-- <a href="career/career.html">Career</a> -->

                    <a href="contact.html" class="btn-bg1 border-round">Contact Us</a>
                </div>
            </div>
        </nav>
        <a href="#" class="btn-back-to-top" aria-label="Back to top button">
            <i class="bi bi-chevron-up"></i>
        </a>
        <!-- NAVIGATION END -->

        <!-- ABOUT SECTION START -->
        <section class="contained row" id="about">
            <h2 class="section-title ff-damion">About us</h2>
            <div class="col-balance">
                <span class="fc-primary fs-h2">
                    We bring your vision to life with creativity and precision, while setting clear expectations for exceptional results.

                    
                </span>
                <p>
                    At Al Shamsi Advertising, we pride ourselves on turning your vision into reality with unmatched precision and creativity. Whether it's through our advanced printing services, custom branding solutions, or tailored marketing strategies, we strive to bring your ideas to life in ways that exceed expectations. Our experienced team is dedicated to delivering high-quality results that not only meet your goals but help you stand out in the market.
                </p>
                <p>
                    With a wide range of services, including screen printing, digital printing, laser engraving, vehicle graphics, and more, we provide comprehensive solutions to fit your brand's unique needs. We believe that innovation is key, which is why we constantly evolve our techniques and offerings to stay ahead of industry trends, ensuring that every project reflects both the latest technology and our commitment to excellence.


                </p>
                <p>
                    At the heart of Al Shamsi Advertising is a dedication to client satisfaction. We understand that each project has its own challenges and requirements, and we work closely with you to ensure we deliver on time and within scope. When you partner with us, you’re not just getting a service—you’re gaining a team that’s invested in making your vision a reality, every step of the way.
                </p>
                <p>
                    When you partner with us, you’re not just getting a service—you’re gaining a team that’s invested in making your vision a reality, every step of the way.
                </p>
                <a href="about.html" class="btn-bg1 mt-25 border-round">Find Out More</a>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="art/hero.jpg" alt="">
                    <img src="svg/blob.svg" alt="" class="blob">
                    <img src="art/hero2.jpg" alt="">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section>
        <!-- ABOUT SECTION END -->

        <!-- TEAM SECTION START -->
        <section class="contained">
            <h2 class="section-title ff-damion">Our Products</h2>
            <p class="col-wide mlmr-a ta-center">
                We offer a wide range of customizable products to enhance your brand's visibility and appeal. From practical items like USB drives and power banks to stylish apparel and promotional accessories, we provide high-quality printing solutions for all your needs. Explore our diverse selection, designed to make a lasting impression.
            </p>
            <div class="row flex-just-center">
                <div class="col-tri">
                    <article class="card-team">
                        <img src="productImg/bag.jpg" alt="">
                        <h3 class="title ff-damion">Bag</h3>
                        <div class="info">
                            <h3 class="ff-damion">Bag</h3>
                            <p>
                                Customizable bags for daily use and promotions.
                            </p>
                           
                        </div>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-team">
                        <img src="productImg/bottle.jpg" alt="">
                        <h3 class="title ff-damion">Bottle</h3>
                        <div class="info">
                            <h3 class="ff-damion">Bottle</h3>
                            <p>
                                Personalized water bottles for hydration on the go.
                            </p>
                            
                        </div>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-team">
                        <img src="productImg/cardholdersandwallet.jpg" alt="">
                        <h3 class="title ff-damion">Card Holders and Wallet</h3>
                        <div class="info">
                            <h3 class="ff-damion">Card Holders and Wallet</h3>
                            <p>
                                Stylish and practical options for organizing cards and cash.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <br>
            <!-- second row -->
            <div class="row flex-just-center">
                <div class="col-tri">
                    <article class="card-team">
                        <img src="productImg/clockandwatches.jpg" alt="">
                        <h3 class="title ff-damion">Clock and Watch</h3>
                        <div class="info">
                            <h3 class="ff-damion">Clock and Watch</h3>
                            <p>
                                Elegant timepieces and clocks with custom branding.
                            </p>
                           
                        </div>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-team">
                        <img src="productImg/desktopitems.jpg" alt="">
                        <h3 class="title ff-damion">Desktop Item</h3>
                        <div class="info">
                            <h3 class="ff-damion">Desktop Item</h3>
                            <p>
                                Customizable desk accessories to enhance any workspace.
                            </p>
                            
                        </div>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-team">
                        <img src="productImg/idcard.jpg" alt="">
                        <h3 class="title ff-damion">Id Card and Holder</h3>
                        <div class="info">
                            <h3 class="ff-damion">Id Card and Holder</h3>
                            <p>
                                Professional ID card holders for secure and stylish identification.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <br>
            <!-- third row -->
            <div class="row flex-just-center">
                <div class="col-tri">
                    <article class="card-team">
                        <img src="productImg/mug.jpg" alt="">
                        <h3 class="title ff-damion">Mug</h3>
                        <div class="info">
                            <h3 class="ff-damion">Mug</h3>
                            <p>
                                Personalized mugs perfect for hot beverages and brand promotion.
                            </p>
                           
                        </div>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-team">
                        <img src="productImg/pen.jpg" alt="">
                        <h3 class="title ff-damion">Pen</h3>
                        <div class="info">
                            <h3 class="ff-damion">Pen</h3>
                            <p>
                                High-quality, customizable pens for everyday writing and branding.
                            </p>
                            
                        </div>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-team">
                        <img src="productImg/Popupstands.jpg" alt="">
                        <h3 class="title ff-damion">Rollup and Popup Stand</h3>
                        <div class="info">
                            <h3 class="ff-damion">Rollup and Popup Stand</h3>
                            <p>
                                Portable display stands for effective advertising and events.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <br>
            <!-- fourth row -->
            <div class="row flex-just-center">
                <div class="col-tri">
                    <article class="card-team">
                        <img src="productImg/prod1.jpg" alt="">
                        <h3 class="title ff-damion">Stress and Golf Ball</h3>
                        <div class="info">
                            <h3 class="ff-damion">Stress and Golf Ball</h3>
                            <p>
                                Fun, stress-relief balls and branded golf balls.
                            </p>
                           
                        </div>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-team">
                        <img src="productImg/prod2.jpg" alt="">
                        <h3 class="title ff-damion">Trophy, Plaque, and Medal</h3>
                        <div class="info">
                            <h3 class="ff-damion">Trophy, Plaque, and Medal</h3>
                            <p>
                                Custom awards to honor achievements and milestones.

                            </p>
                            
                        </div>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-team">
                        <img src="productImg/prod3.jpg" alt="">
                        <h3 class="title ff-damion">T-shirt</h3>
                        <div class="info">
                            <h3 class="ff-damion">T-shirt</h3>
                            <p>
                                Custom-printed t-shirts for casual wear and promotions.

                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <br>
            <!-- fifth row -->
            <div class="row flex-just-center">
                <div class="col-tri">
                    <article class="card-team">
                        <img src="productImg/prod4.jpg" alt="">
                        <h3 class="title ff-damion">Travel Adapter</h3>
                        <div class="info">
                            <h3 class="ff-damion">Travel Adapter</h3>
                            <p>
                                Essential travel accessories for charging devices worldwide.
                            </p>
                           
                        </div>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-team">
                        <img src="productImg/prod5.jpg" alt="">
                        <h3 class="title ff-damion">Umbrella and Cap</h3>
                        <div class="info">
                            <h3 class="ff-damion">Umbrella and Cap</h3>
                            <p>
                                Branded umbrellas and caps for protection and promotion.
                            </p>
                            
                        </div>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-team">
                        <img src="productImg/prod6.jpg" alt="">
                        <h3 class="title ff-damion">Uniforms</h3>
                        <div class="info">
                            <h3 class="ff-damion">Uniforms</h3>
                            <p>
                                Customizable uniforms for professional and team wear.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <br>
            <!-- sixth row -->
            <div class="row flex-just-flexstart">
                <div class="col-tri">
                    <article class="card-team">
                        <img src="productImg/prod7.jpg" alt="">
                        <h3 class="title ff-damion">Wrist Band</h3>
                        <div class="info">
                            <h3 class="ff-damion">Wrist Band</h3>
                            <p>
                                Personalized wristbands for events, promotions, and awareness.
                            </p>
                           
                        </div>
                    </article>
                </div>
                
            </div>
            <br>
        </section>
        <!-- TEAM SECTION END -->

        <!-- PREVIEW SERVICE SECTION START -->
        <section class="bg-primary-foot ta-center">
            <h2 class="section-title ff-damion bg-primary-foot">Service</h2>
            <div class="contained">
                <p class="col-wide mlmr-a">
                    Here's our range of exceptional services, designed to meet your needs with both quality 
                    and affordability in mind. Don't hesitate to experience the difference today.
                </p>
            </div>
            <div class="contained row flex-just-center">
                <div class="col-full">
                    <hr>
                </div>
                <div class="col-tri">
                    <!-- Icon for Screen Printing and Heat Transfer -->
                    <i class="bi bi-brush fs-h2"></i>
                    <h3 class="mt-10 ff-damion">Screen Printing and Heat Transfer</h3>
                    <p>
                        Offering precise and durable printing solutions, our screen printing and heat transfer 
                        services deliver high-quality prints on a variety of materials, ensuring vibrant designs 
                        and lasting results.
                    </p>
                </div>
                <div class="col-tri">
                    <!-- Icon for Offset and Digital Printing -->
                    <i class="bi bi-printer fs-h2"></i>
                    <h3 class="mt-10 ff-damion">Offset and Digital Printing</h3>
                    <p>
                        Whether it's large-scale offset printing or fast digital prints, we provide top-notch 
                        printing services to bring your designs to life with exceptional clarity and vivid colors.
                    </p>
                </div>
                <div class="col-tri">
                    <!-- Icon for UV Printing, Embossing, and Debossing -->
                    <i class="bi bi-droplet-half fs-h2"></i>
                    <h3 class="mt-10 ff-damion">UV Printing, Embossing, and Debossing</h3>
                    <p>
                        Enhance your projects with advanced UV printing technology, along with embossing and debossing 
                        options to give your designs a tactile, premium finish.
                    </p>
                </div>
            </div>
            <a href="service.html" class="btn-bg2 border-round mt-25">
                View our services
            </a>
        </section>
        
        
        <!-- PREVIEW SERVICE SECTION END -->

        <!-- PREVIEW Portfolio SECTION START -->
        <!-- <section class="contained">
            <h2 class="section-title ff-damion">Portfolio</h2>
            <p class="ta-center col-wide mlmr-a">
                Stay informed about our Portfolio, it's highly unlikely that they will stay up to date. 
                This will be the latestP4ortfoliofrom 2023 when it's already 2026, feel free to read our 
                outdated Portfolio.
            </p>
            <div class="row flex-just-center">
                <div class="col-tri">
                    <article class="card-Portfolio">
                        <img src="Portfolio_img/Portfolio1.jpg" alt="">
                        <div class="info">
                            <h3 class="mt-5 mb-5 ff-damion fc-primary">The Power of Branding</h3>
                            <p class="ml-a mt-5">09/26/2023</p>
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                            How Custom Solutions Can Transform Your Business
                        </p>
                       
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-Portfolio">
                        <img src="Portfolio_img/Portfolio2.jpg" alt="">
                        <div class="info">
                            <h3 class="mt-5 mb-5 ff-damion fc-primary"> Sustainable Printing Practices
                                </h3>
                            <p class="ml-a mt-5">09/26/2022</p>
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                            How to Go Green in Advertising

                        </p> -->
                        <!-- <a href="Portfolio/Portfolio-2.html" class="ml-10">
                            ReadP4ortfolio<i class="bi bi-box-arrow-up-right"></i>
                        </a> -->
                    <!-- </article>
                </div>
                <div class="col-tri">
                    <article class="card-Portfolio">
                        <img src="Portfolio_img/Portfolio3.jpg" alt="">
                        <div class="info">
                            <h3 class="mt-5 mb-5 ff-damion fc-primary"> Maximizing ROI with Print Advertising</h3>
                            <p class="ml-a mt-5">09/26/2022</p>
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                            Strategies for Success
                        </p> -->
                        <!-- <a href="Portfolio/Portfolio-3.html" class="ml-10">
                            ReadP4ortfolio<i class="bi bi-box-arrow-up-right"></i>
                        </a> -->
                    <!-- </article> -->
                <!-- </div> -->
            <!-- </div> -->
        <!-- </section> -->
        <!-- PREVIEW Portfolio SECTION END -->

        <!-- SUBSCRIBE TO NEWS LETTERS START -->
        <section class="subscribe bg-primary-foot" style="background-image: url('art/overlay.webp');">
            <div class="contained row ta-center">
                <div class="col-balance fc-white">
                    <h3 class="mb-a ff-damion mt-a">Subscribe to our newsletter:</h3>
                </div>
                <div class="col-balance">
                    <form action="#">
                        <input type="email" id="subscribe-email" aria-label="Subscribe to our email news" placeholder="Email" required>
                        <button class="btn-bg2">Subscribe</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- SUBSCRIBE TO NEWS LETTERS ENS -->

        <section class="contained ta-center">
            <h2 class="section-title ff-damion">Reach us</h2>
            <p class="col-wide mlmr-a">
                We’d love to hear from you! Whether you have questions, feedback, or need assistance with your printing and advertising needs, our team is here to help. Reach out to us and let’s start a conversation about how we can elevate your brand together.
            </p>
            <a href="contact.html" class="btn-bg1 border-round mt-25">
                Get in touch
            </a>
        </section>

    </main>
    
    <!-- FOOTER START -->
    <footer class="fc-white">
        <div class="contained row flex-just-center">

            <!-- FOOTER WEBSITE MOTO START -->
            <div class="col-quad">
                <h3 class="ff-damion">Al Shamsi</h3>
                <p>
                    Our vision is to be the premier provider of innovative printing advertising solutions, dedicated to helping businesses articulate their brand stories through high-quality, sustainable print materials.
                </p>
                <p>

                </p>
            </div>
            <!-- FOOTER WEBSITE MOTO END -->

            <!-- FOOTER QUICK CONTACT START -->
            <div class="col-quad">
                <h3 class="ff-damion">Get in touch</h3>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-envelope-fill"></i>
                    rasadvertising@gmail.com
                </a>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-telephone-fill"></i>
                    +971 4 2222791
                </br>
                <i class="bi bi-telephone-fill"></i>
                +971 505348309
            </br>
            <i class="bi bi-telephone-fill"></i>
            +971 556425430
        </br>
        <i class="bi bi-telephone-fill"></i>
        +971 552856252
    </br>


                </a>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-geo-alt-fill"></i>
                   Dubai, UAE
                </a>
                <a href="#" class="display-inblock fc-white icon-link mt-20" aria-label="Follow on facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#" class="display-inblock fc-white icon-link" aria-label="Follow on instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#" class="display-inblock fc-white icon-link" aria-label="Follow on twitter">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="#" class="display-inblock fc-white icon-link" aria-label="Follow on youtube">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
            <!-- FOOTER QUICK CONTACT END -->
            
            <!-- FOOTER SCHEDULE START -->
            <div class="col-quad">
                <h3 class="ff-damion">Opening hours</h3>
                <p class="mt-10 mb-10 fw-bold">
                    Monday - Friday:
                    <span class="fw-normal display-block">8:30AM - 7:30pm</span>
                </p>
                <p class="mt-10 mb-10 fw-bold">
                    Saturday:
                    <span class="fw-normal display-block">
8:30AM - 4:00PM</span>
                </p>
                <p class="mt-10 mb-10 fw-bold">
                    Sunday:
                    <span class="fw-normal display-block">Closed</span>
                </p>
            </div>
            <!-- FOOTER SCHEDULE END -->
            
            <!-- FOOTER USEFUL LINKS START -->
            <div class="col-quad">
                <h3 class="ff-damion">Useful Links</h3>
                <a href="index.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Home
                </a>
                <a href="about.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    About
                </a>
                <a href="service.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Service
                </a>
                <!--  <a href="industries.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Industries
                </a> -->

                
               <!--   <a href="career/career.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Career
                </a> -->

                <a href="contact.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Contact
                </a>
            </div>
            <!-- FOOTER USEFUL LINKS END -->
            
        </div>
        <div class="copy ta-center fc-white">
            <small>&copy; Al Shamsi - Copyright 2023</small>
        </div>
    </footer>
    <!-- FOOTER END -->

</body>
</html>